@mixin scrollbar
  // For Google Chrome
  &::-webkit-scrollbar
    -webkit-appearance: none
    width: 8px
    height: 8px

  &::-webkit-scrollbar-thumb 
    background: rgba(150,150,150,0.5)
  

  &::-webkit-scrollbar-track 
    background: transparent
  

  // For Internet Explorer
  body 
    scrollbar-face-color: rgba(150,150,150,0.5)
    scrollbar-track-color: transparent
  

#camera-nav
  font-size: 14px
  padding: 5px
  display: flex
  flex-direction: column
  min-width: 400px
  line-height: 2em

  @include scrollbar

  a
    color: #333
    padding: 0.2em 1em
    display: block
    line-height: 20px
    margin-bottom: 3px
    white-space: nowrap
    &.active
      background-color: #f5ae73
      color: #fff

.cameras-sub-layout
  .primary-content
    flex: 1
    padding: 1em
    overflow: scroll

    @include scrollbar
  