.camera-item {
  position: relative;
  margin: 10px; }
  .camera-item:hover .camera-item-mask {
    opacity: 1; }
  .camera-item .camera-item-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    z-index: 1;
    opacity: 0; }
