#cameralist-wrap::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px; }

#cameralist-wrap::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.5); }

#cameralist-wrap::-webkit-scrollbar-track {
  background: transparent; }

#cameralist-wrap body {
  scrollbar-face-color: rgba(150, 150, 150, 0.5);
  scrollbar-track-color: transparent; }

#camera-list {
  overflow: scroll;
  padding: 1em 0 5em 0; }
  #camera-list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px; }
  #camera-list::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.5); }
  #camera-list::-webkit-scrollbar-track {
    background: transparent; }
  #camera-list body {
    scrollbar-face-color: rgba(150, 150, 150, 0.5);
    scrollbar-track-color: transparent; }
