.cameras-sub-layout nav {
  font-size: 14px; }
  .cameras-sub-layout nav a {
    color: #333;
    padding: 0.2em 1em;
    display: block;
    border-radius: 50px;
    line-height: 20px;
    margin-bottom: 3px; }
    .cameras-sub-layout nav a.active {
      background-color: #f5ae73;
      color: #fff; }

.cameras-sub-layout .primary-content {
  flex: 1;
  padding: 1em; }
