.player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  cursor: default; }
  .player-overlay .primary-indicator {
    color: #fff;
    padding: 10px;
    fontWeight: 100;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1); }
    .player-overlay .primary-indicator[data-active=true] {
      background: #0088cc; }
